{% extends 'global/base.html' %}
{% load static %}
{% load tz %}
{% block 'head' %}
<link href="{% static 'agenda/css/login.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'titulo' %}Minha Agenda{% endblock 'titulo' %}

{% block 'conteudo' %}
{% include 'global/menu.html' %}
<section class="p-0 bg-secondary-subtle">

    <div class="container p-0 h-100 bg-white">
        <h1 class="text-center pt-2">Serviço Agendando</h1>
        <div class="m-3 d-flex justify-content-center">
            <form action="{% url 'agenda:agendamento' %}" method="GET">
                {% csrf_token %}
                <input type="date" id="data" name="data" value="{{ data }}" min="" required>
                <button type="submit" class="btn ms-3 btn-primary">Buscar</button>
            </form>
        </div>
        <div class="mt-3 pb-5 d-flex justify-content-center flex-wrap">
            {% for agenda in agendas %}
                <div class="card text-center m-auto mt-3"  style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ agenda.servico.nome }}</h5>
                        <p class="card-text">{{ agenda.servico.descricao }}</p>
                        <p class="card-text">Valor: {{ agenda.servico.valor }}</p>
                        <p class="card-text">Tempo: {{ agenda.servico.tempoServico }}</p>
                        <p class="card-text">Cliente: {{ agenda.cliente.username }}</p>
                        <p class="card-text">Horário: {{ agenda.data_inicio|timezone:"UTC"|time:"H:i" }}  ás {{ agenda.data_final|timezone:"UTC"|time:"H:i" }}</p>
                        <div class="d-flex justify-content-center"> 
                        <form class="pe-2" action="{% url 'agenda:cancelarAgendamento' %}" method="POST">
                            {% csrf_token %}
                            <div class="d-flex justify-content-end">
                                <input type="text" id="idAgenda" name="idAgenda" value="{{ agenda.pk }}" class="d-none">
                                <input type="text" id="path" name="path" value="{{ request.path }}" class="d-none">
                                <button type="submit" class="btn btn-danger">Cancelar</button>
                            </div>
                        </form>
                       
                        <form action="{% url 'agenda:agendamento' %}" method="POST">
                            {% csrf_token %}
                            <input class="visually-hidden" type="text" id="id_agenda" name="id_agenda" value="{{ agenda.pk }}" >
                            <button type="submit" class="btn btn-primary">Comfimar</button>
                        </form>
                    </div>
                    </div>
                </div>
            {% endfor %}    

        </div>
    </div>
</section>
<script>
    // Obter a data atual
    var dataAtual = new Date();
           // Adicionar 1 dia à data atual
    dataAtual.setDate(dataAtual.getDate());
    // Formatando a data atual como 'YYYY-MM-DD'
    var dataFormatada = dataAtual.toISOString().split('T')[0];

    // Definir o atributo 'min' com a data formatada
    document.getElementById('data').setAttribute('min', dataFormatada);
</script>
{% endblock 'conteudo' %}