{% extends 'global/base.html' %}
{% load static %}
{% block 'head' %}
<link href="{% static 'agenda/css/login.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'titulo' %}Agenda{% endblock 'titulo' %}

{% block 'conteudo' %}
{% include 'global/menu.html' %}
<section class="p-0 bg-secondary-subtle">
    <div class="container pt-3 h-100 bg-white">
        <form action="{% url 'agenda:home' %}" method="get">
            <button type="submit" class="btn btn-primary">Voltar</button>
        </form>
        <div class="card text-center m-3">
            <div class="card-header fw-bold">{{ servico.nome }}</div>
            <div class="card-body">
                <p class="card-text">{{ servico.descricao }}</p>
                <p class="card-text">Valor: R$ {{ servico.valor }}</p>
                <p class="card-text">Tempo: {{ servico.tempoServico }} H</p>
                <label for="data">Data</label>
                <div class="mb-2">
                    <input type="date" id="data" name="data" value="{{ data }}" disabled >
                </div>
            </div>
        </div>   

        <h5 class="text-center" >Selecione o profissional</h5>
        <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
            {% include 'global/snippets/pills-tabs.html' with status='active' id='pessoa' text='pessoa' %}
            {% for funcionario in lista_funcionarios %}
                {% include 'global/snippets/pills-tabs.html' with id=funcionario.pk text=funcionario.username %}
            {% endfor %}    
        </ul>
        <h5 class="text-center">Selecione a hora</h5>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-pessoa" role="tabpanel" aria-labelledby="pills-pessoa-tab">
                <div class="fcorner-10 mt-20 mb-4 p-2 d-flex justify-content-center flex-wrap">
                    {% for inicio, fim in horarios_divididos_nao_ocupados %}
                    <div class="card text-center m-3" style="width: 18rem;">
                        <div class="card-header">Horário</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ servico.nome }}</h5>
                            <p class="card-text">{{ inicio }} - {{ fim }}</p>
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <input type="date" id="data" name="data" value="{{ data }}" class="d-none">
                                <input type="text" id="hora_inicio" name="hora_inicio" value="{{ inicio }} " class="d-none">
                                <input type="text" id="hora_final" name="dathora_final" value="{{ fim }}" class="d-none">
                                <button type="submit" class="btn btn-primary">Agendar</button>
                            </form>
                        </div>
                    </div>   
                    {% endfor %}    
                    
                </div>
            </div>

            {% for id, agendaFuncionario in lista_agendamentos %}
                {% include 'agenda/tabs/tab-horario.html' with id=id agenda=agendaFuncionario %}
            {% endfor %}    

        </div>
    </div>
</section>
{% endblock 'conteudo' %}