{% extends 'global/base.html' %}
{% load static %}
{% block 'head' %}
<link href="{% static 'agenda/css/login.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'titulo' %}Meu Serviço{% endblock 'titulo' %}

{% block 'conteudo' %}
{% include 'global/menu.html' %}
<section class="p-0 bg-secondary-subtle">
    <div class="container pb-3 h-100 bg-white">
        <h1 class="text-center pt-2">Cadastra Serviço</h1>
        <form action="{% url 'agenda:cadastrarServico' %}" method="POST" class="row g-3 w-50 m-auto p-3 shadow" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" name="nome" id="nome"  value="{{ servicoupdate.nome }}" placeholder="Nome"  required>
            </div>
            <div class="col-md-6">
                <label for="valor" class="form-label">Valor</label>
                <input type="text" class="form-control" id="valor" name="valor"  value="{{ servicoupdate.valor }}" placeholder="Valor" required>
            </div>
            <div class="col-6">
                <label for="tempoServico" class="form-label">Tempo Serviço</label>
                <input type="time" class="form-control" id="tempoServico" name="tempoServico"  value="{{ servicoupdate.tempoServico }}" placeholder="Tempo Serviço" required>
            </div>
            <div class="col-6">
                <label for="empresa" class="form-label">Empresa</label>
                <select class="form-select" name="idempresa" aria-label="Default select example">
                    {% if servicoupdate %}
                        <option selected value="{{ servicoupdate.empresa.pk }}">{{ servicoupdate.empresa.nome }}</option>
                    {% else %}
                        <option disabled selected>Selecione um Empresa</option>
                    {% endif %}

                    
                    {% if empresas %}
                        {% for empresa in empresas %}
                             {% if servicoupdate.empresa.pk != empresa.pk %}
                                <option value="{{ empresa.pk }}">{{ empresa.nome }}</option>
                            {% endif %}
                        {% endfor %}     
                    {% endif %}
                </select>
            </div>
            <div class="col-md-12">
                <label for="descricao" class="form-label">Descrição</label>
                <textarea class="form-control" id="descricao" name="descricao" rows="5">{{ servicoupdate.descricao }}</textarea>
            </div>
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="foto">Foto</label>
                    <input type="file" class="form-control" name="foto" id="foto" required>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <input type="text" class="d-none" id="id_servicoupdate" name="id_servicoupdate" value="{{ servicoupdate.pk }}">
                <button type="submit" class="btn btn-primary">Cadastra</button>
            </div>
        </form>
    </div>
    <div class="container pt-4 h-100 bg-white">
        <h1 class="ms-3">Meu Serviço</h1>
        <div class="d-flex justify-content-center flex-wrap">
            {% if servicos %}
                {% for servico in servicos %}
                    <div class="card m-2 w-60" style="width: 50%;">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex justify-content-center">
                                {% if servico.foto.url %}
                                <img src="{{ servico.foto.url }}" class="img-fluid rounded-start" alt="...">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ servico.nome }}</h5>
                                    <p class="card-text">{{ servico.descricao }}</p>
                                    <p class="card-text">Valor: R${{ servico.valor }}</p>
                                    <p class="card-text">Tempo Serviço: {{ servico.tempoServico }}h</p>
                                    <p class="card-text"><small class="text-body-secondary">{{ servico.empresa.nome }}</small></p>
                                    <div class="d-flex justify-content-end"> 
                                    <form class="pe-2" action="{% url 'agenda:deletarServico' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="col-12 d-flex justify-content-end">
                                            <input type="text" id="idServico" name="idServico" value="{{ servico.pk }}" class="d-none">
                                            <button type="submit" class="btn btn-danger">Deletar</button>
                                        </div>
                                    </form>
                                    <form action="{% url 'agenda:cadastrarServico' %}" method="GET">
                                        {% csrf_token %}
                                        <div class="col-12 d-flex justify-content-end">
                                            <input type="text" id="id_servico" name="id_servico" value="{{ servico.pk }}" class="d-none">
                                            <button type="submit" class="btn btn-primary">Editar</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}     
            {% endif %}
        </div>
    </div>
</section>
{% endblock 'conteudo' %}