{% extends 'global/base.html' %}
{% load static %}
{% block 'head' %}
<link href="{% static 'agenda/css/home.css' %}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" />
{% endblock 'head' %}

{% block 'titulo' %}Home{% endblock 'titulo' %}

{% block 'conteudo' %}
{% include 'global/menu.html' %}
<section class="vh-100">
    <section class="vh-100 ">
        <div class="container py-5 h-100 bg-white">
            <div class="d-flex justify-content-center flex-wrap">

            {% for empresa in empresas %}

                <div class="card m-3" style="width: 20rem;">
                    <img class="card-img-top" src="{{ empresa.foto}}"
                        alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">{{ empresa.nome }}</h5>
                        <p class="card-text">{{ empresa.descricao }}</p>
                        <p class="card-text">CEP: {{ empresa.cep }}</p>
                        <p class="card-text">Numero: {{ empresa.numero }}</p>
                    </div>
                    <form action="{% url 'agenda:servico' %}" method="POST" class="d-flex justify-content-center p-3">
                        {% csrf_token %}

    
                            <input class="visually-hidden" type="text" id="id_empresa" name="id_empresa" value="{{ empresa.pk }}">
    

                        <button type="submit" class="btn btn-primary">Agendar</button>
                    </form>
                </div>
                {% endfor %}      
            </div>
        </div>
    </section>
    {% endblock 'conteudo' %}