{% extends 'global/base.html' %}
{% load static %}
{% block 'head' %}
<link href="{% static 'agenda/css/login.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'titulo' %}Login{% endblock 'titulo' %}

{% block 'conteudo' %}
{% include 'global/menu.html' %}
<section class="p-0 bg-secondary-subtle">

    <div class="container p-0 h-100 bg-white">

        <h1 class="text-center pt-2">{{ user.username }}</h1>
        <div class="d-flex justify-content-center pt-3">
            <form class="w-50 p-5" action="{% url 'agenda:perfil' %}" method="POST">
                {% csrf_token %}

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label for="email">Email</label>
                    <input type="text" class="form-control form-control-lg shadow p-4 mb-2 bg-white rounded"
                    name="email" value="{{ user.email }}" placeholder="Email" readonly>
                </div>

                <div class="form-outline mb-4">
                    <label for="nome">Nome</label>
                    {%if usernameErros %}
                    <input type="text" class="form-control is-invalid form-control-lg shadow p-4 mb-2 bg-white rounded"
                        name="username" id="nome" value="{{ username }}" placeholder="Nome">
                    {% for error in usernameErros %}
                    <div class="invalid-feedback m-0">
                        <li>{{ error }}</li>
                    </div>
                    {% endfor %}
                    {% else %}
                    <input type="text" class="form-control form-control-lg shadow p-4 mb-5 bg-white rounded"
                        name="username" id="nome" value="{{ user.username }}" placeholder="Nome">
                    {% endif %}
                </div>


                <!-- Password input -->
                <div class="form-outline mb-2">
                    <label for="senha">Senha</label>
                    {%if passwordErros %}
                    <input type="password"
                        class="form-control is-invalid form-control-lg shadow p-4 mb-2 bg-white rounded" id="senha"
                        name="password" placeholder="Senha">
                    {% for error in passwordErros %}
                    <div class="invalid-feedback">
                        <li>{{ error }}</li>
                    </div>
                    {% endfor %}
                    {% else %}
                    <input type="password" class="form-control form-control-lg shadow p-4 mb-5 bg-white rounded"
                        id="senha" name="password" placeholder="Senha">
                    {% endif %}
                </div>

                <div class="form-outline mb-2">
                    <label for="senha">Confirmar senha</label>
                    {%if passwordErros %}
                    <input type="password"
                        class="form-control is-invalid form-control-lg shadow p-4 mb-2 bg-white rounded" id="senha"
                        name="confirmar_senha" placeholder="Confirmar senha">
                    {% for error in passwordErros %}
                    <div class="invalid-feedback">
                        <li>{{ error }}</li>
                    </div>
                    {% endfor %}
                    {% else %}
                    <input type="password" class="form-control form-control-lg shadow p-4 mb-5 bg-white rounded"
                        id="confirmar_senha" name="confirmar_senha" placeholder="Confirmar Senha">
                    {% endif %}
                </div>

                {% if form.non_field_errors %}
                <hr class="mt-20">
                <div class="text-danger text-center mt-20" style="font-weight: bold;">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                <div class="d-flex justify-content-center ">
                    <button type="submit" class="p-3 btn btn-primary btn-lg">Atualizar</button>
                </div>

            </form>
            <div class="w-50 p-5">
                <h2>Historico Agendamento</h2>
                {% if agendaHistorico %}
                    {% for agenda in agendaHistorico %}
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4 d-flex justify-content-center">
                                    <img src="{{ agenda.servico.empresa.foto }}" class="img-fluid" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ agenda.servico.nome }}</h5>
                                        <p class="card-text">{{ agenda.servico.descricao }}</p>
                                        <p class="card-text"><small class="text-body-secondary"> {{ agenda.funcionario.username}} </small></p>
                                        <p class="card-text"><small class="text-body-secondary">{{ agenda.data_inicio|date:"l, d F Y" }} ás {{ agenda.data_inicio|time:"H:i" }} 
                                            as {{ agenda.data_final|time:"H:i" }}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}      
                    <div class="d-flex justify-content-end mb-4 ">
                        <a href="{% url 'agenda:login' %}">Ver mais...</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if user.tipo == 'C' %}
        {% include 'agenda/sencao/perfil-cliente-historico.html' %}
    {% else %}
    {% endif %}
</section>

{% endblock 'conteudo' %}