{% extends 'global/base.html' %}
{% load static %}
{% block 'head' %}
<link href="{% static 'agenda/css/login.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'titulo' %}Servico{% endblock 'titulo' %}

{% block 'conteudo' %}
{% include 'global/menu.html' %}
<section class="p-0 bg-secondary-subtle">
    <div class="container pt-3 h-100 bg-white">
        <form action="{% url 'agenda:home' %}" method="get">
            <button type="submit" class="btn btn-primary">Voltar</button>
        </form>
        <h1 class="text-center pt-2">{{ empresa.nome }}</h1>
        <h5 class="text-center p-2">{{ empresa.numero }}, {{ empresa.cep }}.</h5>

        <img src="{{ empresa.foto }}" class="rounded mx-auto d-block" alt="...">

        <div class="mt-3 ">

            {% for servico in servicos %}
                <div class="card text-center m-auto mt-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ servico.nome }}</h5>
                        <p class="card-text">{{ servico.descricao }}</p>
                        <p class="card-text">Valor: {{ servico.valor }}</p>
                        <p class="card-text">Tempo: {{ servico.tempoServico }}</p>
                        <p id="data-atual"></p>
                       
                        <form action="{% url 'agenda:agenda' %}" method="POST">
                            {% csrf_token %}
                            <label for="data">Selecione uma data</label>
                            <div class="mb-2">
                                <input type="date" id="data" name="data" min="" required>
                            </div>
                            <input class="visually-hidden" type="text" id="id_empresa" name="id_empresa" value="{{ servico.empresa_id }}">
                            <input class="visually-hidden" type="text" id="id_servico" name="id_servico" value="{{ servico.pk }}" >
                            <button type="submit" class="btn btn-primary">Agendar</button>
                        </form>
                    </div>
                </div>
            {% endfor %}    

        </div>
</section>

<script>
    // Obter a data atual
    var dataAtual = new Date();
           // Adicionar 1 dia à data atual
    dataAtual.setDate(dataAtual.getDate() + 1);
    // Formatando a data atual como 'YYYY-MM-DD'
    var dataFormatada = dataAtual.toISOString().split('T')[0];

    // Definir o atributo 'min' com a data formatada
    document.getElementById('data').setAttribute('min', dataFormatada);
</script>
{% endblock 'conteudo' %}